<h1>Da-Ra Tea {{firstName}}</h1>

<input type="text" (input) = "passValueToComponent ($event)">
<input type="text" (click)="getValue ($event)">


<input type="text" [(ngModel)]="defaultV" />
<p>{{defaultV}}</p>

<div *ngIf="isLoggedIn">
  Welcome, {{ username }}!
</div>
<div *ngIf="!isLoggedIn">
  Please log in to continue.
</div>

<button (click)="approve(true)">Approve</button>
<button (click)="approve(false)">Reject</button>

<p *ngIf="isApproved">Approved</p>
<p *ngIf="!isApproved">Rejected</p>